# Terraform
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Environment files
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log
